body{
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: #000000;
    text-align: center;
}
a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
}
#game{
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}
canvas{
    outline: 1px solid #333;
}

.box {
    border: 5px solid darkblue;

    display: flex;
    display: inline-flex;

}
.size {
    margin-left: 100px;
    margin-right: 100px;

    display: flex;

}
